<header class="site-header">
  <div class="container header-inner">
    <nav class="nav">
      {{ $page := . }} {{ range .Site.Menus.main }} {{ $isActive := or
      ($page.IsMenuCurrent "main" .) ($page.HasMenuCurrent "main" .) }}
      <a
        class="nav-link{{ if $isActive }} nav-link-active{{ end }}"
        href="{{ .URL | relURL }}"
        {{
        if
        $isActive
        }}
        aria-current="page"
        {{
        end
        }}
        >{{ .Name }}</a
      >
      {{ end }}
    </nav>
  </div>
</header>
